<script src="../js/controllers/mensajes.js"></script>
<div class="row mt-4 mb-3">
    <div class="col-10">
        <h1>Mensajes</h1>
    </div>
    <div class="col-2 ml-auto">
        <button type="button" class="btn btn-primary" ng-click="GuardarMensaje()"><i class="fa fa-save"></i></button>
        <a type="button" class="btn btn-secondary" href="#/mensajes"><i class="fa fa-arrow-left"></i></a>
    </div>
</div>
<div class="row">
    <form action="">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="Mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="Mensaje" rows="3"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>